<p>home works!</p>

<button type="button" (click)="displayToastMessage(0)"><i class="far fa-fw fa-lightbulb"></i>display a info toast</button>
<button type="button" (click)="displayToastMessage(2)"><i class="far fa-fw fa-bell"></i>display a success toast</button>
<button type="button" (click)="displayToastMessage(3)"><i class="far fa-fw fa-bell"></i>display a error toast</button>
<button type="button" (click)="displayToastMessage(4)"><i class="fas fa-fw fa-exclamation-triangle"></i>display a warning toast</button>
<button type="button" (click)="displayToastMessage(4, true)"><i class="fas fa-fw fa-exclamation-triangle"></i>display a warning sticky toast</button>
